absl-py==0.6.1
alabaster==0.7.12
allennlp==0.5.0
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
awscli==1.16.61
Babel==2.6.0
backcall==0.1.0
bleach==1.5.0
boto3==1.9.51
botocore==1.12.51
certifi==2018.10.15
cffi==1.11.2
chardet==3.0.4
Click==7.0
colorama==0.3.9
conllu==1.2.1
cymem==2.0.2
cytoolz==0.9.0.1
dask==1.0.0
decorator==4.3.0
dill==0.2.8.2
docutils==0.14
editdistance==0.5.2
en-core-web-sm==2.0.0
flaky==3.4.0
Flask==0.12.1
Flask-Cors==3.0.3
gast==0.2.0
gevent==1.2.2
greenlet==0.4.15
grpcio==1.17.0
h5py==2.8.0
html5lib==0.999999999
idna==2.7
imagesize==1.1.0
ipdb==0.11
ipython==7.1.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
jsonnet==0.11.2
MarkupSafe==1.1.0
more-itertools==4.3.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.4.5
numpy==1.15.4
numpydoc==0.8.0
overrides==1.9
packaging==18.0
parsimonious==0.8.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
plac==0.9.6
pluggy==0.8.0
preshed==2.0.1
prompt-toolkit==2.0.7
protobuf==3.6.1
psycopg2==2.7.6.1
ptyprocess==0.6.0
py==1.7.0
pyasn1==0.4.4
pycparser==2.19
Pygments==2.3.0
pyhocon==0.3.48
pyparsing==2.3.0
pytest==4.0.1
python-dateutil==2.7.5
pytz==2017.3
PyYAML==5.1
regex==2017.11.9
requests==2.20.1
responses==0.10.4
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.20.1
scipy==1.1.0
sentencepiece==0.1.6
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
spacy==2.0.17
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
tensorboard==1.7.0
tensorboardX==1.2
tensorflow-gpu==1.7.0
tensorflow-hub==0.2.0
termcolor==1.1.0
thinc==6.12.0
toolz==0.9.0
torch==0.4.1
torchtext==0.3.1
tqdm==4.28.1
traitlets==4.3.2
typing==3.6.6
ujson==1.35
Unidecode==1.0.23
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
